<dialog class="eventModal createEventModal">
  <div class="eventModal-content">
    <button class="closeButton"><i class="ph ph-x"></i></button>
    {{ form_start(createForm) }}
    <div class="form-group">
      {{ form_label(createForm.title) }}
      {{ form_widget(createForm.title) }}
    </div>
    <fieldset class="datetime-fieldset">
      <legend class="sr-only">Sélection des dates</legend>
      <div class="datetime-picker">
        <span>De</span>
        {{ form_label(createForm.from_date) }}
        {{ form_widget(createForm.from_date) }}
        {{ form_label(createForm.from_time) }}
        {{ form_widget(createForm.from_time) }}
      </div>
      <div class="datetime-picker">
        <span>À</span>
        {{ form_label(createForm.to_date) }}
        {{ form_widget(createForm.to_date) }}
        {{ form_label(createForm.to_time) }}
        {{ form_widget(createForm.to_time) }}
      </div>
    </fieldset>
    <fieldset>
      <legend class="sr-only">Détails de l'événement</legend>
      <div class="form-group icon">
        <i class="ph-fill ph-text-align-left"></i>
        {{ form_label(createForm.description) }}
        {{ form_widget(createForm.description) }}
      </div>
      <div class="form-group icon">
        <i class="ph-fill ph-map-pin"></i>
        {{ form_label(createForm.location) }}
        {{ form_widget(createForm.location) }}
      </div>
      <div class="form-group icon">
        <i class="ph-fill ph-users"></i>
        {{ form_label(createForm.required_volunteers) }}
        {{ form_widget(createForm.required_volunteers) }}
      </div>
    </fieldset>
    <fieldset>
      <legend class="sr-only">Répétition de l'événement</legend>
      <div class="form-group icon">
        <i class="ph-fill ph-repeat"></i>
        {{ form_label(createForm.recurrence) }}
        {{ form_widget(createForm.recurrence) }}
      </div>
      <div class="form-group">
        {{ form_label(createForm.until_date) }}
        {{ form_widget(createForm.until_date) }}
      </div>
    </fieldset>
    <button class="button-primary" type="submit">Enregistrer</button>
    {{ form_end(createForm) }}
  </div>
</dialog>
