<dialog id="editEventModal">
  <button id="closeButton"><i class="ph ph-x"></i></button>
  <p>Bonjour je suis la boîte modale pour éditer</p>
  {{ form_start(editForm) }}
  <div class="form-group">{{ form_row(editForm.title) }}</div>
  <div class="form-group">{{ form_row(editForm.description) }}</div>
  <div class="form-group">
    <label>De :</label>
    {{ form_row(editForm.startDatetime) }}
  </div>
  <div class="form-group">
    <label>À :</label>
    {{ form_row(editForm.endDatetime) }}
  </div>
  <div class="form-group">{{ form_row(editForm.requiredVolunteers) }}</div>
  <button class="button-primary" type="submit">Mettre à jour</button>
  {{ form_end(editForm) }}

  <button id="deleteEventButton" class="btn-danger" type="button">Supprimer l'événement</button>
</dialog>
