<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    {% block title %}{% endblock title %}
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam eligendi ipsum non, cum nulla asperiores totam.
      Incidunt vero, nisi non est odit dicta molestiae explicabo minima quidem, esse, ullam quod.
    </p>
  </body>
</html>
{% if condition %}

<p>test</p>
{% endif %}

{{ 1 + 2 }}
{{ first_name ~ ' ' ~ last_name }}
{{ is_correct ? true : false }}

{{ name | upper | lower }}
{{ user.name }}
{{ user[name] }}
{% block name %}{% endblock name %} {% for i in 1..12 %}{% endfor %}

{{{''}}}
