{% extends 'base.html.twig' %}

{% block title %}
  Les entrées
{% endblock %}

{% block body %}
  <main>
    <h1>Les Entrées</h1>
    <article id="entry-section">
      <p>Quel article souhaitez-vous enregistrer ?</p>
      <button class="category-button" data-category="1">Vêtements</button>
      <button class="category-button" data-category="2">Autres articles</button>
    </article>

    <article>
      {{ form_errors(form) }}
      {{ form_start(form) }}
      {{ form_row(form.weight) }}
      {{ form_row(form.categoryId) }}
      <button type="submit" class="btn btn-outline-primary">Enregistrer</button>
      <p id="error-message" class="error-message" style="display: none">Veuillez sélectionner une catégorie.</p>
      {# attention virer le style display:none pour le mettre en scss à part #}
      {# <div>{% include 'partials/flash.html.twig' %}</div> #}
      {{ form_end(form) }}
    </article>

    <article>
      <h2>Dernière entrée</h2>

      {% if app.flashes('success') %}
        <p>Votre dernière entrée a bien été supprimée.</p>
      {% else %}
        {% if lastEntryName is not null %}
          <p>Catégorie : {{ lastEntryName }}</p>
          <p>Poids : {{ lastEntryWeight }} kg</p>
          <form action="{{ path('app_entry_delete_last') }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            <input type="hidden" name="_token" value="{{ csrf_token('delete') }}" />
            <button type="submit">Supprimer la ligne</button>
          </form>
        {% else %}
          {% if app.flashes('success') %}
            <p>Votre dernière entrée a bien été supprimée.</p>
          {% else %}
            <p>Aucune donnée disponible dans la base de données.</p>
          {% endif %}
        {% endif %}
      {% endif %}
    </article>

    <article>
      <h2>Message feedback</h2>
      <p>
        {% if totalWeightToday is null %}
          Pas de données à l'horizon... mais ça ne va pas durer longtemps !
        {% else %}
          {{ feedbackMessage }}
        {% endif %}
      </p>
    </article>
  </main>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/entries.js') }}"></script>
{% endblock %}
