{% extends 'base.html.twig' %}

{% block title %}
  Les entrées
{% endblock %}

{% block body %}
  <main>
    <h1>Les Entrées</h1>
    <article>
      <p>Quel article souhaitez-vous enregistrer ?</p>
      <button id="clothing" data-category="1">Vêtements</button>
      <button id="other-items" data-category="2">Autres articles</button>
    </article>

    <article>
      {{ form_errors(form) }}
      {{ form_start(form) }}
      {{ form_row(form.weight) }}
      {{ form_row(form.categoryId) }}
      <button type="submit" class="btn btn-outline-primary">Enregistrer</button>

      {{ form_end(form) }}
    </article>

    <article>
      <h2>Dernière entrée</h2>
      <p>Catégorie : {{ lastEntryName }}</p>
      <p id="lastEntryDetails">Poids : {{ lastEntryWeight }}</p>
      <button id="deleteLastEntry">Supprimer la ligne</button>
    </article>

    <article>
      <h2>Message feedback</h2>
      <p>
        {% if totalWeightToday is null %}
          Aucune donnée disponible pour aujourd'hui.
        {% else %}
          Chaque kilo compte : aujourd'hui, {{ totalWeightToday }} rentrés!
        {% endif %}
      </p>
    </article>
  </main>
{% endblock %}
