{% extends 'base.html.twig' %}

{% block title %}
  La caisse
{% endblock %}

{% block body %}
  <main>
    <h1>La caisse</h1>

  <section>
  <h2>Récapitulatif</h2>
  {% for item in shopping_cart %}
    <article
      data-category="{{ item.category }}"
      data-weight="{{ item.weight }}"
      data-quantity="{{ item.quantity }}"
      data-price="{{ item.price }}"
    >
      {% if item.category %}
        <h3>{{ item.category }}</h3>
      {% endif %}
      {% if item.weight %}
        <p>Poids : {{ item.weight }} kg</p>
      {% endif %}
      {% if item.quantity %}
        <p>Quantité : {{ item.quantity }}</p>
      {% endif %}
      <p>Prix : <span class="data-price">{{ item.price ?? 0 }}</span> €</p>
    </article>
  {% else %}
    <p>Le panier est vide.</p>
  {% endfor %}
  <p>Total : <span class="data-price">{{ total }}</span> €</p>
  <button onclick="window.history.back()">Revenir en arrière</button>
</section>

      <h2>Paiement</h2>

      <div role="group" aria-labelledby="payment-method-heading">
        <h3 id="payment-method-heading" class="">Méthode de paiement</h3>
        <button type="button" class="payment-button" data-method="card">Carte</button>
        <button type="button" class="payment-button" data-method="cash">Espèce</button>
      </div>

      {# !mettre un token sur le formulaire! #}
      <form class="payment-form" action="{{ path('app_sale_register') }}" method="post">
        <div role="region" aria-labelledby="payments-list-heading">
          <h3 id="payments-list-heading" class="">Paiements effectués</h3>
          <ul class="payments-list"></ul>
        </div>

        <div role="region" aria-labelledby="remaining-amount-heading">
          <h3 class="remaining-title">Restant à payer</h3>
          <p><span class="data-price remaining">{{ total }}</span> €</p>
        </div>

        <div>
          <h3 id="remaining-amount-heading" class="">Boutons d'action</h3>
          <button class="keep-change-button" type="button">Garder la monnaie</button>
          <input type="hidden" class="keep-change-input" name="keep_change" />
          <button type="button">Générer un reçu</button>
             {{ form_start(form) }}
          {{ form_row(form.zipcodeCustomer) }}
             {{ form_end(form) }}

          <button type="submit" class="register-sale-button">Finaliser la transaction</button>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('app_sale_register') }}">
        </div>
      </form>
    </section>
  </main>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/checkout.js') }}" type="module"></script>
{% endblock %}