{% extends 'base.html.twig' %}

{% block title %}
  Les ventes
{% endblock %}

{% block body %}
  <main>
    <h1>Les ventes</h1>
    <section id="sales-section">
      <h2>Ajout des articles</h2>
      <p>Quel article souhaitez-vous ajouter?</p>
      <button class="category-button" data-category="1">Vêtements</button>
      <button class="category-button" data-category="2">Autres articles</button>
      <button class="category-button" data-category="3">Article étiqueté</button>
      <button class="category-button" data-category="4">Boisson</button>
    </section>
    <section>
      <h2>Formulaire de Saisie</h2>
      {{ form_errors(form) }}
      {{ form_start(form) }}
      {{ form_row(form.weight) }}
      {{ form_row(form.categoryId) }}
      {{ form_row(form.price) }}
      {{ form_row(form.quantity) }}
      <button id="add-cart-button" type="submit" class="hidden">Ajouter au panier</button>
      <p id="error-message" class="error-message" style="display: none">Veuillez sélectionner une catégorie.</p>
      {# attention virer le style display:none pour le mettre en scss à part #}
      {# <div>{% include 'partials/flash.html.twig' %}</div> #}
      {{ form_end(form) }}
    </section>

    <section aria-labelledby="cart-heading">
      <div>{% include 'partials/flash.html.twig' %}</div>
      <h2 id="cart-heading">Panier</h2>
      <ul id="cart-container"></ul>

      <form action="{{ path('app_cart_clear') }}" method="post"><button type="submit">Vider le panier</button></form>
      <form action="{{ path('app_sale_checkout') }}" method="post">
        <button type="submit">Passer à la caisse</button>
      </form>
    </section>
  </main>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/sales.js') }}" type="module"></script>
{% endblock %}
