{% extends 'base.html.twig' %}

{% block title %}
  Les ventes
{% endblock %}

{% block body %}
  <main>
    <h1>Les ventes</h1>
    <article id="sales-section">
      <p>Quel article souhaitez-vous ajouter?</p>
      <button class="category-button" data-category="1">Vêtements</button>
      <button class="category-button" data-category="2">Autres articles</button>
      <button class="category-button" data-category="3">Vêtements</button>
      <button class="category-button" data-category="4">Autres articles</button>
    </article>
    <article>
      <h2>Formulaire de Saisie</h2>
      {{ form_errors(form) }}
      {{ form_start(form) }}
      {# {{ form_row(form.weight) }}
      {{ form_row(form.categoryId) }} #}
      <button type="submit" class="btn btn-outline-primary">Ajouter au panier</button>
      <p id="error-message" class="error-message" style="display: none">Veuillez sélectionner une catégorie.</p>
      {# attention virer le style display:none pour le mettre en scss à part #}
      {# <div>{% include 'partials/flash.html.twig' %}</div> #}
      {{ form_end(form) }}
    </article>
    <article>
      <h2>Panier</h2>

      {# prettier-ignore #}
      {# <a href="{{ path('app_cart_add', { 'id': salesItem.id }) }}">Passer à la caisse</a> #}
    </article>
  </main>
{% endblock %}
