<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Soli'Track – outil interne de suivi des activités pour l'association Les Fourmi Soli'Terre."
    />
    <title>
      {% block title %}
        Soli'Track
      {% endblock %}
    </title>

    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.svg') }}" />

    {% block stylesheets %}{% endblock %}

    {% block javascripts %}
      {% block importmap %}
        {{ importmap('app') }}
      {% endblock %}
    {% endblock %}
  </head>

  <body>
    <header class="header">
      <div class="container">
        {% if app.user %}
          <button class="navbar-toggle" id="toggleMenu" aria-label="Toggle menu">
            <i id="menuIcon" class="ph ph-list"></i>
          </button>
        {% endif %}

        <div class="logo-container">
          <a
            href="{{ app.user ? path('app_user_homepage') : path('app_homepage') }}"
            aria-label="Retour à l'accueil Soli'Track"
            class="logo"
          >
            <img src="{{ asset('images/logo.svg') }}" alt="logo de Soli'Track" />
          </a>
        </div>

        {% if app.user %}
          {% block navbar %}
            <nav class="navbar">
              <h2 class="sr-only">Menu principal</h2>
              <ul class="navbar-menu">
                <li><a href="{{ path('app_user_homepage') }}">Accueil</a></li>
                <li><a href="{{ path('app_entry') }}">Les entrées</a></li>
                <li><a href="{{ path('app_sales') }}">Les ventes</a></li>
                {% if is_granted('ROLE_VOLUNTEER_PLUS') %}
                  <li class="dropdown">
                    <button class="dashboard-link" aria-label="Ouvrir le sous-menu">
                      Le tableau de bord <i class="ph-bold ph-caret-down caret-icon"></i>
                    </button>
                    <ul class="submenu">
                      <li>
                        <a href="{{ path('app_dashboard_index') }}"><i class="ph ph-house-line"></i>Tableau de bord</a>
                      </li>
                      <li>
                        <a
                          href="{{
                          path(
                            'app_dashboard_statistics',
                            {
                              category: 'articles'
                            }
                          )
                          }}"
                        >
                          <i class="ph ph-chart-bar"></i>Les statistiques
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('app_dashboard_cash_reconciliation') }}">
                          <i class="ph ph-storefront"></i> Contrôle de Caisse
                        </a>
                      </li>
                      {% if is_granted('ROLE_ADMIN') %}
                        <li>
                          <a href="{{ path('app_dashboard_user_management') }}">
                            <i class="ph ph-users-three"></i>Gestion des utilisateurs
                          </a>
                        </li>
                      {% endif %}
                    </ul>
                  </li>
                {% endif %}
              </ul>
            </nav>
          {% endblock %}
        {% endif %}

        {% if app.user %}
          <nav class="user-action">
            <h2 class="sr-only">Menu utilisateur</h2>
            <i class="ph-light ph-user-circle-check" id="user-icon"></i>
            <ul class="user-menu">
              <li><a href="{{ path('app_user_account') }}">Mon compte</a></li>
              <li>
                <a href="{{ path('app_logout') }}" id="logout-link"><i class="ph ph-sign-out"></i> Se déconnecter</a>
                <form id="logout-form" action="{{ path('app_logout') }}" method="post" style="display: none;">
                  {{ csrf_token('logout') }}
                </form>
              </li>
            </ul>
          </nav>
        {% else %}
          <nav class="user-action">
            <h1 class="sr-only">Menu utilisateur</h1>
            <a href="{{ path('app_login') }}" class="user-action">
              <i class="ph-light ph-user-circle user-icon-home" id="user-icon"></i>
              <span class="login-text">Se connecter</span>
            </a>
          </nav>
        {% endif %}
      </div>
    </header>

    <main class="container">{% block content %}{% endblock %}</main>

    {% block footer %}
      <footer class="footer">
        <div class="container">
          {% if app.user %}
            <section class="socials">
              <h3>Les fourmis sur les réseaux</h3>
              <div class="icons-container">
                <a
                  href="https://www.instagram.com/lesfourmissoliterre/"
                  target="_blank"
                  aria-label="Instagram (nouvel onglet)"
                  title="Instagram (nouvel onglet)"
                >
                  <i class="ph ph-instagram-logo"></i>
                </a>
                <a
                  href="https://www.facebook.com/p/Les-Fourmis-SoliTerre-100064740156911/"
                  target="_blank"
                  aria-label="Facebook (nouvel onglet)"
                  title="Facebook (nouvel onglet)"
                >
                  <i class="ph ph-facebook-logo"></i>
                </a>
                <a
                  href="https://www.linkedin.com/company/les-fourmis-soli-terre/"
                  target="_blank"
                  aria-label="Linkedin (nouvel onglet)"
                  title="Linkedin (nouvel onglet)"
                >
                  <i class="ph ph-linkedin-logo"></i>
                </a>
                <a
                  href="https://www.youtube.com/@lesfourmissoliterre6699"
                  target="_blank"
                  aria-label="Youtube (nouvel onglet)"
                  title="Youtube (nouvel onglet)"
                >
                  <i class="ph ph-youtube-logo"></i>
                </a>
                <a
                  href="https://discord.gg/vC2Pc8AE"
                  target="_blank"
                  aria-label="Discord (nouvel onglet)"
                  title="Discord (nouvel onglet)"
                >
                  <i class="ph ph-discord-logo"></i>
                </a>
                <a
                  href="https://www.tiktok.com/@lesfourmissoli.terre?lang=fr"
                  target="_blank"
                  aria-label="TikTok (nouvel onglet)"
                  title="TikTok (nouvel onglet)"
                >
                  <i class="ph ph-tiktok-logo"></i>
                </a>
              </div>
            </section>
          {% endif %}

          <section class="site-infos">
            <h3 class="sr-only">Copyright et mentions légales</h3>
            <a href="{{ path('app_legal_notice') }}" class="hover-blue">Mentions légales</a>
            <p>&copy; 2025 Clem-Coding</p>
          </section>
        </div>
      </footer>
    {% endblock %}

    <script src="{{ asset('js/flash-messages.js') }}"></script>
    <script>window.PHP_SESSION_ACTIVE = {{ app.user ? 'true' : 'false' }};</script>
  </body>
</html>
