<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      {% block title %}
        Soli'Track
      {% endblock %}
    </title>

    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"
    />
    {% block stylesheets %}{% endblock %} {% block javascripts %}
      {% block importmap %}
        {{ importmap('app') }}
      {% endblock %}
      <script src="{{ asset('js/navigation.js') }}"></script>
    {% endblock %}
  </head>

  <body>
    <header class="header">
      <a href="{{ app.user ? path('app_user_homepage') : path('app_homepage') }}" aria-label="Accueil">
        <h1>Soli'Track</h1>
      </a>

      <a href="{{ app.user ? path('app_user_homepage') : path('app_login') }}" aria-label="Se connecter">
        {% if app.user %}
          <i class="ph ph-user-circle-check"></i> Bienvenue
        {% else %}
          <i class="ph ph-user-circle"></i> Se connecter
        {% endif %}
      </a>

      {% if app.user %}
        {% block navbar %}
          <nav class="navbar">
            <button class="navbar-toggle" aria-label="Toggle menu">
              <span class="navbar-toggle-icon"></span>button
            </button>
            <ul class="navbar-menu">
              <li><a href="{{ path('app_user_homepage') }}" aria-label="Retour à l'accueil">Accueil</a></li>
              <li><a href="{{ path('app_entry') }}" aria-label="Les entrées">Les entrées</a></li>
              <li><a href="{{ path('app_sales') }}" aria-label="Les ventes">Les ventes</a></li>
              <li class="dropdown">
                <a href="{{ path('app_dashboard_index') }}" aria-label="Le tableau de bord">Le tableau de bord</a>
                <ul class="submenu">
                  <li><a href="{{ path('app_dashboard_statistics') }}">Les statistiques</a></li>
                  <li><a href="{{ path('app_dashboard_cash_reconciliation') }}">Contrôle de Caisse</a></li>
                  <li><a href="{{ path('app_dashboard_user_management') }}">Gestion des utilisateurs</a></li>
                  <li><a href="{{ path('app_dashboard_settings') }}">Paramètres</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        {% endblock %}
      {% endif %}
    </header>
    <div class="main-container"><main class="content">{% block content %}{% endblock %}</main></div>

    {% block footer %}
      <footer class="footer">
        <p>Mentions légales</p>
        <p>2025 Clem-Coding</p>
      </footer>
    {% endblock %}
    <script src="{{ asset('js/flash-messages.js') }}"></script>
  </body>
</html>
