{% extends 'base.html.twig' %}

{% block title %}
  Contrôle de caisse
{% endblock %}

{% block content %}
  <h1>Gestion de la caisse</h1>

  {% if session %}
    <div class="sections-container three-sections">
      <section class="card">
        <p class="state-ok">Caisse ouverte par {{ opened_by }} le {{ opening_at }}</p>
        <div class="cash-summary">
          <p>Fond de caisse : {{ cash_float|number_format(2, ',', ' ') }} €</p>
          <p>Total des ventes pour la session en cours : {{ total_price }} €</p>
          <p>Total CB : {{ total_card }} €</p>
          <p>Total espèces : {{ total_cash }} €</p>
          <p>Total des prélèvements effectués : {{ total_withdrawals }} €</p>
        </div>
        <p class="bold">Solde théorique attendu : {{ theoretical_balance }} €</p>
      </section>

      <section class="card">
        <h2>Effectuer un prélèvement</h2>
        {{ form_start(withdrawal_form) }}
        <div class="form-group">
          {{ form_label(withdrawal_form.amount) }}
          {{ form_widget(withdrawal_form.amount) }}
        </div>
        <div class="form-group">
          {{ form_label(withdrawal_form.comment) }}
          {{ form_widget(withdrawal_form.comment) }}
        </div>
        <button type="submit" class="button-primary">Valider le prélèvement</button>
        {{ form_end(withdrawal_form) }}
        <div>{% include 'partials/flash.html.twig' %}</div>
      </section>

      <section class="card">
        <h2>Clôture de caisse</h2>
        {{ form_start(coins_count_form) }}
        <div class="grid-2-cols">
          {% for field in coins_count_form %}
            <label>{{ field.vars.label }} {{ form_widget(field) }}</label>
          {% endfor %}
        </div>
        {{ form_end(coins_count_form) }}

        {{ form_start(closure_form) }}
        <p>💶 Solde théorique de la caisse : <span id="theoriticalBalance">{{ theoretical_balance }}</span>€</p>

        <div class="form-group">
          {{ form_label(closure_form.countedBalance) }}
          {{ form_widget(closure_form.countedBalance) }}
        </div>
        <div class="form-group">
          {{ form_label(closure_form.discrepancy) }}
          {{ form_widget(closure_form.discrepancy) }}
        </div>

        <button type="button" class="button-grey-shadow note-toggle">
          <i class="ph ph-receipt"></i>Ecrire un commentaire
        </button>

        <div class="form-group hidden">
          {{ form_label(closure_form.note) }}
          {{ form_widget(closure_form.note) }}
        </div>

        <button type="submit" class="button-primary">Clôturer la caisse</button>
        {{ form_end(closure_form) }}
      </section>
    </div>
  {% else %}
    <section class="card">
      <p class="alert">Dernière caisse fermée par Karine à 14h30</p>
      <p>Total des ventes de la dernière session : 189 €</p>
    </section>
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/cash-register.js') }}" type="module"></script>
{% endblock %}
