{% extends 'base.html.twig' %}

{% block title %}
  Le Tableau de bord
{% endblock %}

{% block content %}
  <h1>Le tableau de bord</h1>

  <div class="sections-container three-sections">
    <section class="card">
      <h2>Nombre de visiteurs</h2>
      {{ form_start(form) }}
      {{ form_errors(form) }}
      <div class="form-group">
        {{ form_label(form.date) }}
        {{ form_widget(form.date) }}
      </div>
      <div class="form-group">
        {{ form_label(form.count) }}
        {{ form_widget(form.count) }}
      </div>
      <button type="submit" class="button-primary">Valider</button>
      {{ form_end(form) }}
      <div>{% include 'partials/flash.html.twig' %}</div>
    </section>

    <section class="card">
      <h2>Les records</h2>

      {% if recordsData.entry is defined and recordsData.entry is not empty %}
        <p>
          <span class="semi-bold">Entrées</span> : <span class="highlighted">
            {{ recordsData.entry.total_weight ?? 'N/A' }} kg
          </span>, le {{ recordsData.entry.day ?? 'N/A' }}
        </p>
        <p>
          <span class="semi-bold">Sorties</span> : <span class="highlighted">
            {{ recordsData.sales.total_weight ?? 'N/A' }} kg
          </span>, le {{ recordsData.sales.day ?? 'N/A' }}
        </p>
        <p>
          <span class="semi-bold">Visiteurs</span> : <span class="highlighted">
            {{ recordsData.visitors.count ?? 'N/A' }}
          </span>, le {{ recordsData.visitors.day ?? 'N/A' }}
        </p>
        <p>
          <span class="semi-bold">Chiffre des ventes</span> : <span class="highlighted">
            {{ recordsData.sales_revenue.total_price ?? 'N/A' }} €
          </span>, le {{ recordsData.sales_revenue.day ?? 'N/A' }}
        </p>
      {% else %}
        <p>Aucune donnée disponible dans la base de données.</p>
      {% endif %}
    </section>

    <section class="card">
      <h2>Carte des visiteurs</h2>
      <div id="map" class="map-viewer"></div>
      <div id="points-data" style="display: none;">{{ points|json_encode|raw }}</div>
    </section>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/visitors-map.js') }}" type="module"></script>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/4.0.0/Control.FullScreen.css"
  />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
{% endblock %}
