{% extends 'base.html.twig' %}

{% block title %}
  Les entrées
{% endblock %}

{% block content %}
  <h1>Le tableau de bord</h1>

  <div class="sections-container">
    <section class="card">
      <h2>Nombre de visiteurs</h2>

      {{ form_start(form) }}
      {{ form_errors(form) }}
      {{ form_row(form.date) }}
      {{ form_row(form.count) }}
      <button type="submit">Valider</button>
      {{ form_end(form) }}
      <div>{% include 'partials/flash.html.twig' %}</div>
    </section>

    <section class="card">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, laudantium asperiores iure suscipit facere
      deserunt non, in magnam commodi distinctio voluptatibus officia molestias aut mollitia molestiae autem nostrum
      assumenda quasi!
    </section>
    <section class="card">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, laudantium asperiores iure suscipit facere
      deserunt non, in magnam commodi distinctio voluptatibus officia molestias aut mollitia molestiae autem nostrum
      assumenda quasi!
    </section>
  </div>
{% endblock %}

{# {% block javascripts %}
  {{ parent() }}
{% endblock %} #}
