{% extends 'base.html.twig' %}

{% block title %}
  Les entrées
{% endblock %}

{% block body %}
  <main>
    <h1>Le tableau de bord</h1>
    <section>
      <h2>Nombre de visiteurs</h2>

      {{ form_start(form) }}
      {{ form_errors(form) }}
      {{ form_row(form.date) }}
      {{ form_row(form.count) }}
      <button type="submit">Valider</button>
      {{ form_end(form) }}
      <div>{% include 'partials/flash.html.twig' %}</div>
    </section>
  </main>
{% endblock %}

{# {% block javascripts %}
  {{ parent() }}
{% endblock %} #}
