{% extends 'base.html.twig' %}

{% block content %}
  <h1>Statistiques</h1>

  {# prettier-ignore-start #}
  <ul class="sidebar">
    <li><a href="{{ path('app_dashboard_statistics', {'category': 'articles'}) }}">Articles</a></li>
    <li><a href="{{ path('app_dashboard_statistics', {'category': 'vetements'}) }}">Vêtements</a></li>
    <li><a href="{{ path('app_dashboard_statistics', {'category': 'ventes'}) }}">Ventes</a></li>
    <li><a href="{{ path('app_dashboard_statistics', {'category': 'visiteurs'}) }}">Visiteurs</a></li>
  </ul>
  {# prettier-ignore-end #}

  <section class="">
    {% block category_graph %}
      {% if category == 'articles' %}
        <h2>Tous les articles</h2>
      {% elseif category == 'vetements' %}
        <h2>Les vêtements</h2>
      {% elseif category == 'ventes' %}
        <h2>Les ventes</h2>
      {% elseif category == 'visiteurs' %}
        <h2>Les visiteurs</h2>
      {% endif %}
    {% endblock %}
  </section>

  {# PREMIER FILTRE #}

  {% if category == 'articles' %}
    <label for="filter-type" class="hidden">Sélectionner une catégorie</label>
    <select id="filter-type" name="item">
      <option value="incoming">Articles entrants</option>
      <option value="outgoing">Articles sortants</option>
      <option value="Entrants et sortants">Articles entrants et sortants</option>
    </select>
  {% elseif category == 'vetements' %}
    <label for="filter-type" class="hidden">Sélectionner une catégorie</label>
    <select id="filter-type" name="clothing">
      <option value="incoming">Vêtements entrants</option>
      <option value="outgoing">Vêtements sortants</option>
      <option value="oiseau">Vêtements entrants et sortants</option>
    </select>
  {% elseif category == 'ventes' %}
    <label for="filter-type" class="hidden">Sélectionner une catégorie</label>
    <select id="filter-type" name="sale">
      <option value="ventes">Chiffre des ventes</option>
      <option value="bar">Chiffre du bar</option>
      <option value="prix libre">Chiffre des montants prix libre</option>
    </select>
  {% endif %}

  {# DEUXIEME FILTRE #}

  <label for="filter-period" class="hidden">Sélectionner une période</label>
  <select id="filter-period">
    <option value="monthly">Total mensuel sur un an</option>
    <option value="daily">Total journalier sur un mois</option>
    <option value="yearly">Total annuel</option>
  </select>

  {# TROISIEME FILTRE #}

  <div id="month-picker" style="display: none;">
    <label for="month" class="hidden">Sélectionner un mois</label>
    <select id="month">
      {% for month in months %}
        <option value="{{ month.value }}">{{ month.label }}</option>
      {% endfor %}
    </select>
  </div>

  <div id="year-picker" style="display: none;">
    <label for="year" class="hidden">Sélectionner une année</label>
    <select id="year">
      {% for year in years %}
        <option value="{{ year }}">{{ year }}</option>
      {% endfor %}
    </select>
  </div>

  <div style="width: 800px;"><canvas id="acquisitions"></canvas></div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ asset('js/statistics.js') }}" type="module"></script>
{% endblock %}
