{% extends 'base.html.twig' %}

{% block body %}
  <h1>Statistiques</h1>

  {# prettier-ignore-start #}
  <ul class="sidebar">
    <li><a href="{{ path('app_dashboard_statistics', {'category': 'articles'}) }}">Articles</a></li>
    <li><a href="{{ path('app_dashboard_statistics', {'category': 'vetements'}) }}">Vêtements</a></li>
    <li><a href="{{ path('app_dashboard_statistics', {'category': 'ventes'}) }}">Ventes</a></li>
    <li><a href="{{ path('app_dashboard_statistics', {'category': 'visiteurs'}) }}">Visiteurs</a></li>
  </ul>
  {# prettier-ignore-end #}

  <section class="content">
    {% block category_graph %}
      {% if category == 'articles' %}
        <h2>Tous les articles</h2>
      {% elseif category == 'vetements' %}
        <h2>Les vêtements</h2>
      {% elseif category == 'ventes' %}
        <h2>Les ventes</h2>
      {% elseif category == 'visiteurs' %}
        <h2>Les visiteurs</h2>
      {% endif %}
    {% endblock %}
  </section>

  {# PREMIER FILTRE #}

  {% if category == 'articles' %}
    <label for="filter-type">Sélectionner une catégorie</label>
    <select id="filter-type" name="item">
      <option value="Articles entrants">Articles entrants</option>
      <option value="Articles sortants">Articles sortants</option>
      <option value="Entrants et sortants">Articles entrants et sortants</option>
    </select>
  {% elseif category == 'vetements' %}
    <label for="filter-type">Sélectionner une catégorie</label>
    <select id="filter-type" name="clothing">
      <option value="chat">Vêtements entrants</option>
      <option value="chient">Vêtements sortants</option>
      <option value="oiseau">Vêtements entrants et sortants</option>
    </select>
  {% elseif category == 'ventes' %}
    <label for="filter-type">Sélectionner une catégorie</label>
    <select id="filter-type" name="sale">
      <option value="ventes">Chiffre des ventes</option>
      <option value="bar">Chiffre du bar</option>
      <option value="prix libre">Chiffre des montants prix libre</option>
    </select>
  {% endif %}

  {# DEUXIEME FILTRE #}

  <label for="filter-period" class="hidden">Sélectionner une période</label>
  <select id="filter-period">
    <option value="monthly">Total mensuel sur un an</option>
    <option value="daily">Total journalier</option>
    <option value="yearly">Total annuel</option>
  </select>

  {# TROISIEME FILTRE #}

  <div id="date-picker" style="display: none;">
    <label for="date" class="hidden">Sélectionner une date</label>
    <input type="date" id="date" />
  </div>

  <div id="month-picker">
    <label for="year">Sélectionner une année</label>
    <select id="year">
      {% for year in years %}
        <option value="{{ year }}">{{ year }}</option>
      {% endfor %}
    </select>
  </div>

  {# <div style="width: 800px;"><canvas id="acquisitions"></canvas></div> #}

  <!-- Filtres -->
  {# <div>
    <select id="filter-movement">
      <option value="incoming">Articles Entrants</option>
      <option value="outgoing">Articles Sortants</option>
      <option value="both">Entrants et Sortants</option>
    </select>

    <select id="filter-period">
      <option value="daily">Journalier</option>
      <option value="monthly">Mensuel</option>
      <option value="yearly">Annuel</option>
    </select>

    <input type="date" id="filter-date" />
    <input type="month" id="filter-month" style="display: none;" />
    <input type="number" id="filter-year" min="2020" max="2030" style="display: none;" />
  </div>

  <div style="width: 800px;"><canvas id="acquisitions"></canvas></div> #}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ asset('js/statistics.js') }}" type="module"></script>
{% endblock %}
