{% extends 'base.html.twig' %}

{% block title %}
  Mon compte
{% endblock %}

{% block content %}
  <h1>Mon compte</h1>

  <section id="about">
    {{ form_start(form) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.newPassword) }}
    <button type="submit" class="button-primary">Modifier mes informations</button>
    {{ form_errors(form) }}
    {{ form_end(form) }}
  </section>

  {% include 'partials/flash.html.twig' %}
{% endblock %}
