{% extends 'base.html.twig' %}

{% block title %}
  Espace personnel
{% endblock %}

{% block content %}
  <div class="sections-container three-sections user-sections-container">
    <section class="card">
      <h2>Hello {{ app.user.firstName }} 👋!</h2>
      <p>
        Bienvenue sur ton espace personnel ! Ici, tout est conçu pour te faciliter le suivi. Accède à la page des
        ventes, enregistre de nouvelles entrées et garde un œil sur ton tableau de bord pour suivre ton activité en un
        clin d'œil. Besoin d’un coup de main ? On est là pour t’accompagner.
      </p>
      <p>
        Une nouvelle fonctionnalité sera bientôt disponible pour gérer les plannings de bénévolat. Plus d’informations à
        venir!
      </p>
    </section>

    <section class="card graph-container">
      <h2>{{ stats_title }}</h2>
      {% if entry_weight is null and out_weight is null %}
        <p class="text-center">Pas de données pour le mois en cours</p>
      {% else %}
        <canvas class="graph" id="myPieChart"></canvas>
        <div class="hidden" id="inWeight" data-value="{{ entry_weight }}"></div>
        <div class="hidden" id="outWeight" data-value="{{ out_weight }}"></div>
      {% endif %}
    </section>

    <section class="card">
      <h2>Mes prochains créneaux de bénévolat</h2>
      {% if (upcoming_sessions|length) > 0 %}
        <ul class="volunteer-sessions-list">
          {% for session in upcoming_sessions %}
            <li class="volunteer-session">
              <p class="bold">{{ session.session.title }}</p>
              {% if session.session.location %}
                <p><i class="ph-fill ph-map-pin"></i> {{ session.session.location }}</p>
              {% endif %}
              <p>
                <i class="ph-fill ph-clock"></i> {{ session.session.startDatetime|date('d/m/Y') }} |
                {{ session.session.startDatetime|date('H:i') }} - {{ session.session.endDatetime|date('H:i') }}
              </p>
              {% if session.session.description %}
                <p><i class="ph-fill ph-note"></i> {{ session.session.description }}</p>
              {% endif %}
              <button class="button-destructive" data-session-id="{{ session.session.id }}">
                Annuler ma participation
              </button>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>Aucun créneau de bénévolat à venir.</p>
      {% endif %}
      <a class="see-calendar-btn" href="{{ path('app_user_benevolat') }}">Voir le planning</a>
    </section>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ asset('js/user-homepage.js') }}" type="module"></script>
{% endblock %}
